.container
{
  text-align: center
}
.header
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white
}
.whole-bag-of-jellybean
{
  border-radius: 10px;
  width: 55%;
  height: 150px;
  background: gray
}
.options
{
  margin-top: 15px
}
.typing-container { height: 3.5em }
#typing-box
{
  position: relative;
  background: gray;
  padding: 15px 0;
  margin-top: -15px;
  vertical-align: auto;
  border-radius: 10px
}
#typing-box input
{
  border: none;
  width: 75%;
  height: 45px
}
#typing-box button
{
  width: 50px;
  height: 50px;
  border: none;
  background: rgb(156, 144, 120);
  
  background-image: linear-gradient(orange 50%, orange 50%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .25s ease-in, color .5s ease
}
#typing-box button:hover
{
  background-size: 100% 100%;
  color:white
}
.to-type
{
  position: relative;
  overflow: hidden;
  height: 3.5em;
  padding: 0 5%
}
.to-type span p
{
  display: inline-flex;
  margin: 0 auto
}
.footer
{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white
}
.footer a
{
  text-decoration: none;
  color: orange
}
.footer a:hover { color: #0CC }