*
{
  font-family: 'Inconsolata', monospace;
  transition: background-color 0.2s ease, height 0.25s ease
}
.container
{
  text-align: center
}
.header
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white
}
.whole-bag-of-jellybean
{
  border-radius: 10px;
  width: 55%;
  background: gray
}
/* .hidden-elements
{
  position: absolute;
  height: 100%;
  width: 22.5%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background: red;
} */
.top-container
{
  display: inline-flex;
  width: 97%;
  justify-content: space-between;
  margin: 15px auto 7px
}
.top-container .options { display: flex }
.top-container .timer-container { display: inline-flex }

.timer { margin: 0 0 0 auto }
.timer-options
{
  position: absolute;
  width: 100%;
  top: -10vh;
  opacity: 0;
}
.timer-options button
{
  padding: 7px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: rgb(156, 144, 120)
}
.timer-options button:hover
{
  color: white;
  background: orange
}

.typing-container { height: 3.35em }
#typing-box
{
  position: relative;
  background: gray;
  padding: 15px 0;
  margin-top: -20px;
  vertical-align: auto;
  border-radius: 10px
}
#typing-box input
{
  font-size: 20px;
  border: none;
  width: 75%;
  height: 45px;
  margin-left: -45px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px
}
#typing-box button
{
  position: absolute;
  width: 50px;
  height: 47px;
  border: none;
  background: rgb(156, 144, 120);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  background-image: linear-gradient(orange 50%, orange 50%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .25s ease-in, color .5s ease
}
#typing-box button:hover
{
  background-size: 100% 100%;
  color:white
}

.to-type
{
  position: relative;
  overflow: hidden;
  text-align: left;
  height: 3.5em;
  padding: 0 5%
}
.to-type span p
{
  display: inline-flex;
  margin: -1.5px auto;
  padding: 5px
}

#redo
{
  font-size: 20px
}

.footer
{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white
}
.footer a
{
  text-decoration: none;
  color: orange
}
.footer a:hover { color: #0CC }